<template>
  <section class="currency-source">
    <h4>Convert from {{ source.name }}</h4>
    $<input type="text"
           class="source-amount-input"
           :value="source.amount"
           v-on:change="onChangeSourceAmount">
  </section>

</template>

<script>

  import { currencyComponentMethods } from './component.methods';

  export default {
    name: 'CurrencySource',
    props: {
      source: Object,
    },
    computed: {
      target() {
        return this.$store.state.currencies.target;
      }
    },
    methods: {
      ...currencyComponentMethods,
      onChangeSourceAmount( event ) {
        const amount = event.target.value;
        const regex=/^[0-9.]+$/;
        const { source, target } = this;
        if (amount.match(regex)) {
          this.$store.dispatch( 'changeSourceAmount', { amount, source, target } );
          return;
        }
        {
          alert("Must input numbers");
          return false;
        }
      }
    }
  }


</script>
