<template>

  <section class="currency-selector" v-if="target!==null">


      <div data-isocode="p" class="currency-options">

        <v-select @input="onSwitchTargetCurrency"
                  label="name"
                  :options="list"
                  :value="target.name"></v-select>
      </div>
      <h4>Result: {{ target.amount }}</h4>

  </section>

</template>

<script>

  /**
   * come to think of it.. should probably name this currency target?
   * In a different situation, I would make the target and source currency
   * components the same, to allow the user to select
   */
  export default {
    name: 'CurrencySelector',
    props: {
      selectorKey: String,
      target: Object,
      title: String,
    },
    computed: {
      list() {
        return this._sg( 'list' );
      },
      // isoCodes() {
      //   return this.list.map( currency => currency.isoCode );
      // },
      // names() {
      //   return this.list.map( currency => currency.name );
      // },

    },
    methods: {
      amount() {
        return this._sg( 'amount', 'pending' );
      },

      _sg( key, dflt = null ) {
        return this.$store.state.currencies.target[ key ];
      },
      async onSwitchTargetCurrency( event ) {
        const isoCode = event.isoCode;
        this.$store.dispatch( 'switchTargetCurrency', { isoCode });
        const { source, target } = this.$store.state.currencies;
        await this.$store.dispatch( 'recalcTargetAmount', { source, target});
      }
    }
  }
</script>

<style>
  .currency-selector {
    /*display: flex;*/
  }
  .currency-options {
    /*width: 250px;*/
  }

  ul {
    cursor: pointer;
  }

  li {

    list-style: none;
    text-align: center;
  }

</style>
