<template>
  <section class="currency-comparator">
    <h3>Currency Comparator</h3>

    <CurrencySource :source="source"/>
    <CurrencySelector :target="target"/>
  </section>


</template>

<script>
  import CurrencySelector from './CurrencySelector';
  import CurrencySource from './CurrencySource';
  import { currencyComponentMethods } from './component.methods';

  export default {
    name: 'CurrencyComparator',
    components: {
      CurrencySelector,
      CurrencySource,
    },
    computed: {
      source() {
        return this._sg('source');
      },
      target() {
        return this._sg('target');
      }
    },
    methods: {
      ...currencyComponentMethods,
    },
    props: {
      currencyList: [ Object ],
      title: String,
    }
  }
</script>
