<template>
  <div id="app">
    <Header></Header>
    <CurrencyComparator></CurrencyComparator>
  </div>

</template>

<script>

import gql from 'graphql-tag';
import CurrencyComparator from './components/CurrencyComparator';
import Header from './components/Header';

import { APP_TITLE, currencyIsoCodesManifest } from './constants';

export default {
  name: "App",
  components: {
    CurrencyComparator,
    Header,
  },
  // remember these will cache
  computed: {
  },
  beforeMount() {
    this.getCurrencies();
  },
  methods: {
    async getCurrencies() {
      await this.$store.dispatch( 'fetchCurrencies' );
      const { source, target } = this.$store.state.currencies;
      await this.$store.dispatch( 'recalcTargetAmount', { source, target } );
    },
    switchTargetCurrency( newTargetCurrency ) {

    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
